
.botTag-1un5a6 {
	position: relative;
	top: .1rem
}

.botTagCompact-29bCci,
.botTagCozy-1fFsZk {}

.botTagCozy-1fFsZk {
	margin-right: .25rem
}

.botTag-2WPJ74 {
	font-size: .625rem;
	text-transform: uppercase;
	vertical-align: top;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	text-indent: 0
}

.px-10SIf7.botTag-2WPJ74 {
	height: 15px;
	padding: 0 4px;
	margin-top: 1px;
	border-radius: 3px
}

.rem-2m9HGf.botTag-2WPJ74 {
	height: .9375rem;
	padding: 0 .275rem;
	margin-top: .075em;
	border-radius: .1875rem
}

.botTagRegular-2HEhHi {
	background: #7289da;
	color: #fff
}

.botTagInvert-18-95s {
	background: #fff;
	color: #7289da
}

.botTagVerified-1klIIt {
	display: inline-block
}

.px-10SIf7 .botTagVerified-1klIIt {
	width: 15px;
	height: 15px;
	margin-left: -4px
}

.botText-1526X_ {
	position: relative;
	font-weight: 500
}


.rem-2m9HGf .botTagVerified-1klIIt {
	width: .9375rem;
	height: .9375rem;
	margin-left: -.25rem
}

.headerBotTagWithNickname--pvZ2g {
	margin-bottom: 2px
}

.botTag-3W9SuW {
	margin-left: 4px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto
}

.botTag-ymWxY6 {
	position: relative;
	bottom: 1px
}


.nameTag-2IFDfL .botTag-ymWxY6,
.nameTag-2IFDfL .discriminator-xUhQkU,
.nameTag-2IFDfL .username-3gJmXY {
	white-space: normal
}